<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javaquizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".arraypackage.arraysResults"></activity>
        <activity android:name=".arraypackage.array" />
        <activity android:name=".controlstatementspackage.controlstatementsResults" />
        <activity android:name=".controlstatementspackage.controlstatements" />
        <activity android:name=".basicsandhistorypackage.basicsandhistoryResults" />
        <activity android:name=".basicsandhistorypackage.basicsandhistory" />
        <activity android:name=".basicsandhistory.basicsActivity" />
        <activity android:name=".Categories" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>